@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


.section{
    height: auto;
    width: max-width;
    background:  #111111;
}

.content{
    display: flex;
    color: azure;
    flex-direction: column;
    align-items: center;
}

.content .ourprojects{
    font-family: 'Nunito', sans-serif;
    margin: 60px auto;
    padding-bottom: 4px;
    border-bottom: 4px solid #F2B516;
    border-radius: 2px;
    width: max-content;
    font-weight: 700;
    font-size: 35px;
}

.content .projectContent{
    margin: 15px auto;
    font-family: 'Nunito', sans-serif;
    font-size: 20.5px;
    line-height: 2em;
    color: rgba(255, 255,255,0.8);
    
}
