.nav {
    background: #0A090A;
    padding: 20px 15px 20px;
    font-weight: 700;
}

.nav .items {
    display: flex;
    justify-content: center;
    -webkit-padding-start: 0px;
}
.nav .li {
    color: white;
    display: inline-table;
    margin: 30px 40px;
    font-size: 18.5px;
} 

.nav .li:hover {
    color: #F2B516;
} 

@media screen and (max-width:600px){

    .nav {
        background: rgb(0, 0, 0);
        padding: 20px 5px 20px;
    }

    .nav .li {
        color: white;
        display: inline-table;
        margin: 30px 15px;
        font-size: 18.5px;
        text-align: center;
    } 
}