.nav{
    height: auto;
    width: max-width;
    background-color: rgb(0, 0, 0);
    color: white;

}

.navbar2{
    display: flex;
    justify-content: center;
    border-radius: 20px;
    /* // background-color: rgb(37, 37, 37); */
}

.nav .li{
    display: flex;
    margin: 100px 20px;
}

.nav .li .items{
    list-style: none;
}

.nav .li .items .listlink{
    text-decoration: none;
    color: white;
    font-family: 'Nunito', sans-serif;
    padding: 15px;
    font-size: 16px;
    
}