@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');


*{
  font-family: "Nunito";
}

a {
  color: #333;
  text-decoration: none;
}

nav {
  margin: -70px 50px 50px;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: white;
}
nav a {
  margin-left: 25px;
}
