@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


.showcase{
    min-height: 600px;
    text-align: center;
    background: url('../../public/assets/cc-proj2.jpg'), rgba(0,0,0,0.4);
    background-position-x: center;
    background-position-y: -75px;
    width: 100%;
    overflow-x: hidden;
}

.showcase .container .heading1{
    padding-top: 200px;
    margin-bottom: 100px;
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    font-size: 40px;
    color: azure;

}

.showcase .container .para{
    color: rgb(236, 236, 236);
    font-size: 32px;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
    margin-top: 10px;

}

.yellow{
    color: #F2B516;
}